
<div class="container" align="center">
    <br>
    <nav class="navbar navbar-expand-sm bg-light navbar-dark">
        <ul class="navbar-nav" align="center">
            <li class="nav-item">
                <button class="m-1 btn btn-light btn-outline-primary" Button>
                    <NavLink href="ConnectedLeaseEasementsViaTractID">
                        Easements
                    </NavLink>
                </button>
            </li>
            <li class="nav-item">
                <button class="m-1 btn btn-light btn-outline-primary" Button>
                    <NavLink href="ConnectedLeaseSUAsViaTractID">
                        SUA(s)
                    </NavLink>
                </button>
            </li>
            <li class="nav-item">
                <button class="m-1 btn btn-light btn-outline-primary" Button>
                    <NavLink href="ConnectedLeaseROWsViaTractID">
                        ROW(s)
                    </NavLink>
                </button>
            </li>
            <li class="nav-item">
                <button class="m-1 btn btn-light btn-outline-primary" Button>
                    <NavLink href="ConnectedTractLeases">
                        Leases
                    </NavLink>
                </button>
            </li>
            <li class="nav-item">
                <button class="m-1 btn btn-light btn-outline-primary" Button>
                    <NavLink href="ConnectedLeaseBurdensViaTractID">
                        Burdens
                    </NavLink>
                </button>
            </li>
            <li class="nav-item">
                <button class="m-1 btn btn-light btn-outline-primary" Button>
                    <NavLink href="ConnectedLeaseWellsViaTractID">
                        Wells
                    </NavLink>
                </button>
            </li>
            <li class="nav-item">
                <button class="m-1 btn btn-light btn-outline-primary" Button>
                    <NavLink href="ConnectedLeaseWIsViaTractID">
                        W.I. / Details
                    </NavLink>
                </button>
            </li>
            <li class="nav-item">
                <button class="m-1 btn btn-light btn-outline-primary" Button>
                    <NavLink href="ConnectedLeasePaymentObligationsViaTractID">
                        Payments
                    </NavLink>
                </button>
            </li>
            <li class="nav-item">
                <button class="m-1 btn btn-light btn-outline-primary" Button>
                    <NavLink href="ConnectedLeaseSpecialObligationsViaTractID">
                        Obligation(s)
                    </NavLink>
                </button>
            </li>
        </ul>
    </nav>
</div>
@* 
<div class="col">
    <button class="m-1 btn btn-light btn-outline-primary" Button>
        <NavLink href="ConnectedTractEasements">
            Easements
        </NavLink>
    </button>
    <li class="nav-item">
        <button class="m-1 btn btn-light btn-outline-primary" Button>
            <NavLink href="ConnectedTractSUAs">
                SUA(s)
            </NavLink>
        </button>
    </li>

</div>

<button class="m-1 btn btn-light btn-outline-primary" Button>
    <NavLink href="ConnectedTractEasements">
        Easements
    </NavLink>
</button>
<li class="nav-item">
    <button class="m-1 btn btn-light btn-outline-primary" Button>
        <NavLink href="ConnectedTractSUAs">
            SUA(s)
        </NavLink>
    </button>
</li> *@

@code {

}
