@page "/SurfaceUses"

<h3>SurfaceUses</h3>

<br />
<div class="container" align="center">
    <TabControl>
        <TabPage Text="MAIN">
            <LeaseMain />
        </TabPage>
        <TabPage Text="CONT.">
            <LeaseMainCont />
        </TabPage>
        <TabPage Text="RELATED PROPERTIES">
            <LeaseRelated />
        </TabPage>
        <TabPage Text="CROSS-REFS">
            <LeaseCrossRefs />
        </TabPage>
        <TabPage Text="CHARTS / GRAPHS">
            <LeaseGraphs />
        </TabPage>
    </TabControl>
</div>

@code {

}
