@page "/Counties"

<br />
<div class="container" align="center">
    <TabControl>
        <TabPage Text="MAIN">
            <CountyMain />
        </TabPage>
        <TabPage Text="MORE">
            <CountyMore />
        </TabPage>
        <TabPage Text="CROSS-REFS">
            <CountyCrossRefs />
        </TabPage>
        <TabPage Text="RELATED">
            <CountyRelated />
        </TabPage>
        <TabPage Text="CHARTS / GRAPHS">
            <CountyGraphs />
        </TabPage>
    </TabControl>
</div>

@code {

}
