@using BlazorWebApp.Components.Pages.OG_Forms.Properties.Tracts.TractTabs.SubTabInternals
@using BlazorWebApp.Components.UI.SubTabs

<div class="container">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item">
                <button class="m-1 btn btn-dark btn-outline-dark" Button>
                    <NavLink href="Tracts">
                        BACK
                    </NavLink>
                </button>
            </li>
        </ul>
    </nav>

</div>


@code {

}