@page "/County_Regions"

@inherits CountyMain

@using ApplicationLayer.Entities.Locations.Counties.Data
@using System.Net.Http

@inject IJSRuntime jsRuntime
@inject IHttpClientFactory _clientFactory
@inject Microsoft.Extensions.Configuration.IConfiguration _config

<div class="container">
    <nav class="navbar navbar-expand-sm bg-light navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item">
                <button class="m-1 btn btn-light btn-outline-primary" Button>
                    <NavLink href="Counties">
                        BACK
                    </NavLink>
                </button>
            </li>
        </ul>
    </nav>

</div>

<div class="container" align="center">
    <br>
    <nav class="navbar navbar-expand-sm bg-light navbar-dark">
        <ul class="navbar-nav" align="center">
            <li class="nav-item">
                <button class="m-1 btn btn-light btn-outline-primary" Button>
                    <NavLink href="County_Prospects">
                        Prospects
                    </NavLink>
                </button>
            </li>
            <li class="nav-item">
                <button class="m-1 btn btn-light btn-outline-primary" Button>
                    <NavLink href="County_Regions">
                        Regions
                    </NavLink>
                </button>
            </li>
            <li class="nav-item">
                <button class="m-1 btn btn-light btn-outline-primary" Button>
                    <NavLink href="County_States">
                        States
                    </NavLink>
                </button>
            </li>
            <li class="nav-item">
                <button class="m-1 btn btn-light btn-outline-primary" Button>
                    <NavLink href="County_Tracts">
                        Tracts
                    </NavLink>
                </button>
            </li>
            <li class="nav-item">
                <button class="m-1 btn btn-light btn-outline-primary" Button>
                    <NavLink href="County_Leases">
                        Leases
                    </NavLink>
                </button>
            </li>
            <li class="nav-item">
                <button class="m-1 btn btn-light btn-outline-primary" Button>
                    <NavLink href="County_Wells">
                        Wells
                    </NavLink>
                </button>
            </li>
        </ul>
    </nav>
</div>

<br />

<div>
    <GenDatabaseList Elements="GetRegionsWithinCounty">

        <TableHeader>
            <th>ID</th>
            <th>Name</th>
        </TableHeader>

        <RowTemplate Context="Regions">
            <td>@Regions.RegionId</td>
            <td>@Regions.Region</td>
        </RowTemplate>

    </GenDatabaseList>
</div>

<br />
<br />

@*<Paginations TotalPagesQuantity="totalPageQuantity" CurrentPage="currentPage" Radius="2"
                 SelectedPage="SelectedPage">
    </Paginations>*@

@code
{
    private int totalPageQuantity;
    private int currentPage = 1;

    //private IEnumerable<RegionsWithinCounty> GetRegionsWithinCounty = Array.Empty<RegionsWithinCounty>();
    List<RegionsWithinCounty> GetRegionsWithinCounty { get; set; }

    string errorString;

    protected override async Task OnInitializedAsync()
    {
        var request = new HttpRequestMessage(HttpMethod.Get,
        // TODO: MAKE CUSTOM PROC FOR LEASES WITHIN A CERTAIN COUNTY
        /// API url goes inside ""  \\// "http://localhost:1397/");
        /// OR "https://localhost:44300/");
        _config["API_URL"] + "RegionsMaster");

        var client = _clientFactory.CreateClient();

        HttpResponseMessage response = await client.SendAsync(request);

        if (response.IsSuccessStatusCode)
        {
            //GetProspectsWithinCounty = await response.Content.ReadFromJsonAsync<PropertyMainForm>();  // SHUD BE 'ReadFromJsonAsync'

            using var responseStream = await response.Content.ReadAsStreamAsync();
            GetRegionsWithinCounty = await JsonSerializer.DeserializeAsync<List<RegionsWithinCounty>>(responseStream);

            errorString = null;
        }
        else
        {
            errorString = $"There was an error getting Prospects Data: { response.ReasonPhrase }";
        }


        //var request = new HttpRequestMessage(HttpMethod.Get,
        //// TODO: MAKE CUSTOM PROC FOR LEASES WITHIN A CERTAIN COUNTY
        ///// API url goes inside ""  \\// "http://localhost:1397/"); OR "https://localhost:44300/"); OR "https://localhost:44300/api/LeasesInsideDistrict/GetAllLeases/");
        //"");

        //var client = _clientFactory.CreateClient();

        //HttpResponseMessage response = await client.SendAsync(request);

        //if (response.IsSuccessStatusCode)
        //{
        //    //GetLeasesWithinCounty = await response.Content.ReadAsStreamAsync<CountyMasterMainForm>();  // SHUD BE 'ReadFromJsonAsync'
        //}
        //else
        //{
        //    errorString = $"There was an error getting Districts: { response.ReasonPhrase }";
        //}
    }
}
