@page "/AddUpdateSpecialProvisions"


@{
    /* public */
    //Burdens tractBurdens = new Burdens();
    var showClass = IsVisible ? "d-block" : "d-none";

}


<h3>AddUpdateTractWorkingInterestComponent</h3>



@code
{
    #region CASCADING PARAMS
    [Parameter] public string? LeaseID { get; set; } = string.Empty;
    #endregion CASCADING PARAMS

    [Parameter]
    public bool IsVisible { get; set; }

    [Parameter]
    public EventCallback<bool> IsVisibleChanged { get; set; }

    [Parameter]
    public string? HeaderText { get; set; }

    [Parameter]
    public string? BodyText { get; set; }

    public void Show(string bodyText, string headerText = "")
    {
        HeaderText = headerText;
        BodyText = bodyText;
        IsVisible = true;
        StateHasChanged();
    }

    private void Close()
    {
        HeaderText = string.Empty;
        BodyText = string.Empty;
        IsVisible = false;
        StateHasChanged();
    }
}