
<div class="container" align="center">
    <br>
    <nav class="navbar navbar-expand-sm bg-light navbar-dark">
        <ul class="navbar-nav" align="center">
            <li class="nav-item">
                <button class="m-1 btn btn-light btn-outline-primary" Button>
                    <NavLink href="ConnectedLeaseEasementsViaTractID">
                        Easement(s)
                    </NavLink>
                </button>
            </li>
            <li class="nav-item">
                <button class="m-1 btn btn-light btn-outline-primary" Button>
                    <NavLink href="ConnectedLeaseSUAsViaTractID">
                        SUA(s)
                    </NavLink>
                </button>
            </li>
            <li class="nav-item">
                <button class="m-1 btn btn-light btn-outline-primary" Button>
                    <NavLink href="ConnectedLeaseROWsViaTractID">
                        ROW(s)
                    </NavLink>
                </button>
            </li>
            <li class="nav-item">
                <button class="m-1 btn btn-light btn-outline-primary" Button>
                    <NavLink href="ConnectedTractLeases">
                        Tract(s)
                    </NavLink>
                </button>
            </li>
            <li class="nav-item">
                <button class="m-1 btn btn-light btn-outline-primary" Button>
                    <NavLink href="ConnectedLeaseBurdensViaTractID">
                        Burden(s)
                    </NavLink>
                </button>
            </li>
            <li class="nav-item">
                <button class="m-1 btn btn-light btn-outline-primary" Button>
                    <NavLink href="ConnectedLeaseWellsViaTractID">
                        Well(s)
                    </NavLink>
                </button>
            </li>
            @* <li class="nav-item">
                <button class="m-1 btn btn-light btn-outline-primary" Button>
                    <NavLink href="ConnectedLeaseWIsViaTractID">
                        W.I. / Details
                    </NavLink>
                </button>
            </li>
            <li class="nav-item">
                <button class="m-1 btn btn-light btn-outline-primary" Button>
                    <NavLink href="ConnectedLeasePaymentObligationsViaTractID">
                        Payment(s)
                    </NavLink>
                </button>
            </li>
            <li class="nav-item">
                <button class="m-1 btn btn-light btn-outline-primary" Button>
                    <NavLink href="ConnectedLeaseSpecialObligationsViaTractID">
                        Obligation(s)
                    </NavLink>
                </button>
            </li> *@
        </ul>
    </nav>
</div>


@code {

}
