@page "/Pages/OG_Forms/Surveys"
@using BlazorWebApp.Components.UI.Tabs

<h3>Surveys</h3>

<div class="">
    <TabControl>
        <TabPage Text="MAIN">
            <h1>The MAIN tab</h1>
            @*  CREATE RAZOR COMPONENT AND ADD HERE EX: <MyFirstTabbedComponent />*@
        </TabPage>
        <TabPage Text="MORE">
            <h1>The MORE tab</h1>
        </TabPage>
        <TabPage Text="CROSS-REFS">
            <h1>The CROSS-REFS tab</h1>
        </TabPage>
        <TabPage Text="RELATED">
            <h1>The RELATED tab</h1>
        </TabPage>
        <TabPage Text="CHARTS / GRAPHS">
            <h1>The CHARTS / GRAPHS tab</h1>
        </TabPage>
    </TabControl>
</div>
<br />
<button type="submit" class="btn btn-primary" style="width:150px;" @* @onclick="(() => SaveButton(TractModel))" *@> Save </button>
<button type="submit" class="btn btn-danger" style="width:150px;" @*onclick="OnPostCreateTract" *@>Delete</button>
<button type="button" class="btn btn-primary" style="width:150px;" @*onclick="OnPostCreateTract" *@>Print</button>
@* <button type="submit" class="btn btn-primary" style="width:150px;" href="/ListOfLeasesComponent"> View Tract </button> *@
<NavLink id="" name="ViewTractListBttn" class="btn btn-primary" style="width:150px;" href="@($"/ListOfSurveys")"> View Tracts</NavLink>


@code {

}
