
@inherits LayoutComponentBase

<div class="sidebar">
    <BlazorWebApp.Components.Layout.NavMenu />
</div>

<div class="main">
    <div class="top-row px-4 auth">
        <LoginDisplay />
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>


@* @code{

    public class Alphabets
    {
        public string A = "A";
        public string B = "B";
        public string C = "C";
        public string D = "D";
        public string E = "E";
        public string F = "F";
        public string G = "G";
        public string H = "H";
        // public string A = "A";
        // public string B = "B";
        // public string C = "C";
        // public string D = "D";
        // public string E = "E";
        // public string F = "F";
        // public string G = "G";
        // public string H = "H";
        // public string A = "A";
        // public string B = "B";
        // public string C = "C";
        // public string D = "D";
        // public string E = "E";
        // public string F = "F";
        // public string G = "G";
        // public string H = "H";


    }

    public class ListOfAlphaHashSets
    {
        public HashSet<string> A = new HashSet<string>()
        {
            //A.AddRange()
        };
    }

    public class ListOfAlphaUnicodeDictionary
    {
        static IDictionary A;

        static Alphabets alphabets = new Alphabets();

        static Dictionary<string, int> keyValuePairs1 = new Dictionary<string, int>()//;
        {
            
            //tst = keyValuePairs1.Add(alphabets.A, value:97)
            // A.Add(keyValuePairs1.Keys, keyValuePairs1.Values.ToString())
            // A.keyValuePairs1.Add("a", 97)
            // , 

        };

    }

    public class ListOfAlphaUnicodeArrays
    {
        public static readonly ArrayList A = new ArrayList();
        public static readonly ArrayList B = new ArrayList();
        public static readonly ArrayList C = new ArrayList();
        public static readonly ArrayList D = new ArrayList();
        public static readonly ArrayList E = new ArrayList();
        public static readonly ArrayList F = new ArrayList();
        public static readonly ArrayList G = new ArrayList();
        public static readonly ArrayList H = new ArrayList();
        public static readonly ArrayList I = new ArrayList();
        public static readonly ArrayList J = new ArrayList();

        static public List<string> Alpha = new List<string>()
        {            
          //   A.AddRange(G)
          // , 
            A.Add("1").ToString()
          , A.Add("2").ToString()
          , 
        };

        
    }
} *@