@*@page "/Pages/OG_Forms/States"*@

<h3>States</h3>

<div class="">
    <TabControl>
        <TabPage Text="MAIN">
            <h1>The MAIN tab</h1>
            @*  CREATE RAZOR COMPONENT AND ADD HERE EX: <MyFirstTabbedComponent />*@
        </TabPage>
        <TabPage Text="MORE">
            <h1>The MORE tab</h1>
        </TabPage>
        <TabPage Text="CROSS-REFS">
            <h1>The CROSS-REFS tab</h1>
        </TabPage>
        <TabPage Text="RELATED">
            <h1>The RELATED tab</h1>
        </TabPage>
        <TabPage Text="CHARTS / GRAPHS">
            <h1>The CHARTS / GRAPHS tab</h1>
        </TabPage>
    </TabControl>
</div>

@code {

}
