@page "/Regions"
<h3>Regions</h3>

<div class="tab-content" align="center">
    <TabControl>
        <TabPage Text="MAIN">
            <RegionMain />
        </TabPage>
        <TabPage Text="MORE">
            <h1>The MORE tab</h1>
        </TabPage>
        <TabPage Text="CROSS-REFS">
            <h1>The CROSS-REFS tab</h1>
        </TabPage>
        <TabPage Text="RELATED">
            <h1>The RELATED tab</h1>
        </TabPage>
        <TabPage Text="CHARTS / GRAPHS">
            <h1>The CHARTS / GRAPHS tab</h1>
        </TabPage>
    </TabControl>
</div>

@code {

}
