

<br />
@* <EditForm Model="@owners"> *@

<div class="container border border-top border-bottom m-1 auto">
    @* border-dark *@
    <div class="card accent-card">
        <div class="form-row">
            <div class="col-3" style="align-items:center; align-content:center;">
                <div class="card-body">
                    <div class="form-row" style="">
                        <button type="submit" class="btn btn-primary form-control" style="width:300px;" @*onclick="OnPostCreateTract" *@> Related Contracts </button>
                    </div>
                    <div class="form-row" style="">
                        <button type="submit" class="btn btn-primary" style="width:300px;" @*onclick="OnPostCreateTract" *@> Related Leases </button>
                    </div>
                    <div class="form-row" style="">
                        <button type="submit" class="btn btn-primary" style="width:300px;" @*onclick="OnPostCreateTract" *@> Payment History </button>
                    </div>
                    <div class="form-row" style="">
                        <button type="submit" class="btn btn-primary" style="width:300px;" @*onclick="OnPostCreateTract" *@> Twn-Rng-Sec Info </button>
                    </div>
                    <div class="form-row" style="">
                        <button type="submit" class="btn btn-primary" style="width:300px;" @*onclick="OnPostCreateTract" *@> Title History </button>
                    </div>
                    <div class="form-row" style="">
                        <button type="submit" class="btn btn-primary" style="width:300px;" @*onclick="OnPostCreateTract" *@> Revenue History </button>
                    </div>
                    <div class="form-row" style="">
                        <button type="submit" class="btn btn-primary" style="width:300px;" @*onclick="OnPostCreateTract" *@> Related Parties </button>
                    </div>
                    <div class="form-row" style="">
                        <button type="submit" class="btn btn-primary" style="width:300px;" @*onclick="OnPostCreateTract" *@> DOI Decks </button>
                    </div>
                    <div class="form-row" style="">
                        <button type="submit" class="btn btn-primary" style="width:300px;" @*onclick="OnPostCreateTract" *@> Prod. Purchasers </button>
                    </div>
                    <div class="form-row" style="">
                        <button type="submit" class="btn btn-primary" style="width:300px;" @*onclick="OnPostCreateTract" *@> A.P.I's' </button>
                    </div>
                </div>
            </div>
            <div class="col-9">
                <div class="form-row">
                    <div class="card-body border border-dark" style="width:900px; height:500px;">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
@* </EditForm> *@


@code {

    [Parameter] public string? EntityID { get; set; } = string.Empty;
    [Parameter] public string? TractID { get; set; } = string.Empty;


}

@* <TabControl2 >
    <TabPage2 Text="Contracts">
        <ConnectedTractContracts TractID="@TractID"></ConnectedTractContracts>
    </TabPage2>
    <TabPage2 Text="Properties">
        <ConnectedTractProperties></ConnectedTractProperties>
    </TabPage2>
    <TabPage2 Text="TwnRngSecs">
        <ConnectedTractTwnRngSecs></ConnectedTractTwnRngSecs>
    </TabPage2>
    <TabPage2 Text="Titles">
        <ConnectedTractTitles></ConnectedTractTitles>
    </TabPage2>
    <TabPage2 Text="DOIs">
        <ConnectedTractDOIs></ConnectedTractDOIs>
    </TabPage2>
</TabControl2>


@code {
    #region CASCADING PARAMS
    [Parameter] public string? TractID { get; set; } = string.Empty;
    #endregion CASCADING PARAMS
}
 *@
