@*@page "/countymain/{CountyName}"*@
@*@page "/countymore/{CountyName}"*@

@inherits CountyMain

@inject IJSRuntime jsRuntime
@inject IHttpClientFactory _clientFactory
@inject Microsoft.Extensions.Configuration.IConfiguration _config
@*<div class="container" align="center">
        <br>
        <nav class="navbar navbar-expand-sm bg-light navbar-dark">
            <ul class="navbar-nav" align="center">
                <li class="nav-item">
                    <button class="m-1 btn btn-light btn-outline-primary" Button>
                        <NavLink href="Charts_Prospects">
                            Prospects
                        </NavLink>
                    </button>
                </li>
                <li class="nav-item">
                    <button class="m-1 btn btn-light btn-outline-primary" Button>
                        <NavLink href="Charts_Regions">
                            Regions
                        </NavLink>
                    </button>
                </li>
                <li class="nav-item">
                    <button class="m-1 btn btn-light btn-outline-primary" Button>
                        <NavLink href="Charts_States">
                            States
                        </NavLink>
                    </button>
                </li>
                <li class="nav-item">
                    <button class="m-1 btn btn-light btn-outline-primary" Button>
                        <NavLink href="Charts_Tracts">
                            Tracts
                        </NavLink>
                    </button>
                </li>
                <li class="nav-item">
                    <button class="m-1 btn btn-light btn-outline-primary" Button>
                        <NavLink href="Charts_Leases">
                            Leases
                        </NavLink>
                    </button>
                </li>
                <li class="nav-item">
                    <button class="m-1 btn btn-light btn-outline-primary" Button>
                        <NavLink href="Charts_Wells">
                            Wells
                        </NavLink>
                    </button>
                </li>
            </ul>
        </nav>
    </div>*@


@code {

}
